* {
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

$blue: rgb(62, 223, 255);
.app {
  display: flex;
  justify-content: center;

  .link {
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
  .navbar-toggler {
    color: #2c2a2a; /* Change the color as needed for better visibility */
    background-color: rgb(24, 23, 23); /* Ensures the button is transparent */
    // border: none; /* Removes any border */
  }
  .navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: rgb(6, 4, 4);
  }
  /* To style the collapsed navbar background */

  /* To remove the border from the navbar */
  .navbar {
    border: none; /* Removes the border */
    border-radius: 0; /* Ensures no border radius */
  }

  .navbar {
    .container-lll{
      padding: 1em 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        h2 {
          margin-right: auto;
          text-decoration: none;
          padding-left: 20px;
        }
        a {
          text-decoration: none;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 2em;

        h6 {
          font-size: 1em;
          font-weight: 300;
          //   padding-right: 20px;

          &:hover {
            color: $blue;
          }
        }

        span {
          cursor: pointer;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  .footer {
    margin-top: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(170, 161, 161);
    font-size: 0.8em;

    button {
      color: rgb(170, 161, 161);
      font-size: 0.8em;
      margin-left: 100%;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  .home-main {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    align-items: center;
    justify-content: center;

    .btn-home {
      padding: 1em;
      border: 0.2em solid $blue;
      border-radius: 0.8em;
      width: 12vw;
      margin-top: 8em;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: $blue;
      }
    }
  }
  .auth2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top: 0;
    margin-bottom: 1em;

    .xt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 0.2em solid $blue;
      height: 50vh;
      width: 40vw;
      border-radius: 1em;
      margin-top: 5em;
    }

    h1 {
      font-size: 1.2em;
      color: $blue;
      margin-bottom: 1.2em;
      display: flex;
      justify-content: center;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 4em;
      border: 0.1em solid $blue;
      border-radius: 1.5em;
      width: 25em;
      height: 30em;
      gap: 1.2em;

      input {
        padding: 1em;
        border: none;
        border: 0.1em solid gray;
        border-radius: 0.8em;
      }

      .form-btn {
        padding: 1em;
        border: 0.2em solid $blue;
        border-radius: 0.8em;
        cursor: pointer;
        color: white;

        &:hover {
          background-color: $blue;
        }
      }

      p {
        font-size: 0.9em;
        color: red;
        text-align: center;
      }

      span {
        font-size: small;
        text-align: center;
      }
    }
  }

  .dash-main {
    box-sizing: border-box;
    margin-top: 3rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        margin-right: 36rem;
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      i {
        position: absolute;
        margin-right: 11rem;
      }

      input {
        width: 14rem;
        height: 2.5rem;
        border: 0.2rem solid $blue;
        border-radius: 2rem;
        text-align: center;

        &:focus {
          border: none;
        }
      }
    }

    button {
      padding: 1em;
      width: 7em;
      border: 0.2em solid $blue;
      border-radius: 0.8em;
      cursor: pointer;
      margin-bottom: 1em;
      i {
        background-color: transparent;
      }

      &:hover {
        background-color: $blue;
      }
    }

    .table {
      width: 100%;

      th {
        padding: 0.8em 0.9em;
        border: 0.01em solid $blue;
        background-color: $blue;
        color: black;
      }
      td {
        padding: 0.8em 0.9em;
        text-align: center;
        border: 0.01em solid $blue;

        .fa-regular {
          cursor: pointer;

          &:hover {
            color: rgb(66, 255, 82);
          }
        }

        .fa-solid {
          cursor: pointer;

          &:hover {
            color: rgb(255, 58, 58);
          }
        }
      }
    }
  }
  .contact {
    display: flex;
    justify-content: center;

    h1 {
      display: flex;
      justify-content: center;

      span {
        color: $blue;
      }
    }

    .form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 0.2em solid $blue;
      height: 48vh;
      width: 45vw;
      border-radius: 1em;
      margin-top: 5em;

      form {
        display: flex;
        flex-direction: column;
        padding: 3em;
        border: 0.1em solid $blue;
        border-radius: 1.5em;
        width: 15em;
        gap: 1.2em;

        input {
          padding: 1em;
          width: 15em;
          border: none;
          border: 0.1em solid gray;
          border-radius: 0.8em;
        }
        .msg input {
          height: 5em;
        }

        button {
          display: flex;
          justify-content: center;
          margin-left: 3em;
          padding: 1em;
          width: 10em;
          border: 0.2em solid $blue;
          border-radius: 0.8em;
          cursor: pointer;
          color: white;

          &:hover {
            background-color: $blue;
          }
        }
      }
    }
  }
  .cont-404 {
    height: 60vh;
    display: flex;
    justify-content: center;

    img {
      height: 70vh;
      width: 50vw;
    }

    .main-404 {
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 5rem;
      }

      .msg-404 {
        font-size: 1.5rem;
        padding: 20px;
        text-align: center;
      }

      .form-btn {
        button {
          padding: 1em;
          border: 0.2em solid $blue;
          border-radius: 0.8em;
          cursor: pointer;
          color: white;

          &:hover {
            background-color: $blue;
          }
        }
      }
    }
  }
  .payment {
    display: flex;
    justify-content: center;
    border: 0.2em solid $blue;
    width: 20em;
    height: 13em;
    align-items: center;
    margin-left: 39%;
    margin-bottom: 10%;
    border-radius: 2em;

    .pymnt-container {
      .pymnt-price {
        margin-left: 0.8em;
        span {
          color: aqua;
        }
      }

      button {
        display: flex;
        border: 0.2em solid $blue;
        height: 3em;
        width: 9em;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
        margin-top: 2em;
        cursor: pointer;

        &:hover {
          background-color: $blue;
        }
      }
    }
  }

  .about {
    height: 93vh;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .row-1 {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
      gap: 2em;

      .service {
        padding: 0.9em;
        font-size: 1.2em;
        text-align: center;
        background-color: transparent;
        border-radius: 3em;
        cursor: pointer;

        i {
          font-size: 2em;
          color: $blue;
          background-color: transparent;
        }

        h2 {
          color: auto;
          background-color: transparent;
        }

        p {
          color: auto;
          background-color: transparent;
        }

        &:hover {
          background-color: $blue;
          transition: 0.6s;

          i {
            color: white;
          }
        }
      }
    }
  }
  .modalBackground {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
    border-radius: 2rem;

    .modalContainer {
      border: 0.2rem solid white;
      width: 48rem;
      height: 22rem;
      padding: 1rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;

      .title {
        text-align: center;
        margin-top: 10px;
      }

      .titleCloseBtn {
        display: flex;
        justify-content: flex-end;

        button {
          font-size: 1.1rem;
          cursor: pointer;
          color: white;
          border: 0.1rem solid $blue;
          border-radius: 1rem;
          font-weight: bolder;

          &:hover {
            background-color: red;
          }
        }
      }

      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        text-align: center;
      }

      .footer {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 6rem;
          height: 2.2rem;
          margin: 10px;
          border: none;
          border: 0.1rem solid white;
          color: white;
          border-radius: 1rem;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: red;
            border: none;
          }
        }
      }
    }
  }

  /* ... (Previous CSS styles) */

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top: 3rem;
  }

  /* Existing .dash-main styles */

  /* Speech Recognition Styles */
 
}
